<template>
  <div class="app-container">
  <el-form ref="postForm"   class="form-container" label-width="100px">

    <el-table  :data="list" border fit highlight-current-row style="width: 100%">
    
      <!-- <el-table-column width="100px" align="center" label="人员id">
        <template slot-scope="scope">
          <el-radio-group v-model="scope.row.id">
          <el-radio v-model="scope.row.id" :label="true">选择</el-radio>
        </el-radio-group>>
        </template>
     </el-table-column> -->

    <el-table-column width="100px" align="center" label="字段id">
        <template slot-scope="scope">
          <span>{{ scope.row.id }}</span>
        </template>
     </el-table-column>

      <el-table-column width="100px" align="center" label="企业id">
        <template slot-scope="scope">
          <span>{{ scope.row.orgId }}</span>
        </template>
     </el-table-column>

       <el-table-column width="100px" align="center" label="分组Id">
        <template slot-scope="scope">
          <span>{{ scope.row.groupId }}</span>
        </template>
     </el-table-column>

     <el-table-column width="100px" align="center" label="用户id">
        <template slot-scope="scope">
          <span>{{ scope.row.userId }}</span>
        </template>
     </el-table-column>

      <el-table-column width="100px" align="center" label="字段名字">
        <template slot-scope="scope">
          <span>{{ scope.row.cnName }}</span>
        </template>
     </el-table-column>

        <el-table-column width="150px" align="center" label="字段值">
        <template slot-scope="scope">
          <!-- <span>{{ scope.row.fieldvalue }}</span> -->
           <el-input v-model="scope.row.fieldvalue" />
        </template>
      </el-table-column>
<!-- 
      <el-table-column width="150px" align="center" label="状态">
        <template slot-scope="scope">
          <span>{{ scope.row.status }}</span>
        </template>
      </el-table-column> -->

    <!-- <el-table-column align="center" label="Actions" width="300">
        <template slot-scope="scope">
          <router-link :to="'/template/edititem/'+scope.row.id">
            <el-button type="primary" size="small" icon="el-icon-edit">
              设置薪资规则
            </el-button>
          </router-link>
     

          <router-link :to="'/flow/edit/'+scope.row.id">
            <el-button type="primary" size="small" icon="el-icon-edit">
              定薪
            </el-button>
          </router-link>

        </template>
      </el-table-column> -->


    </el-table>
       <el-button style="margin-left: 10px;" type="success" @click="submitForm">
        提交
      </el-button>
    </el-form>
    <!-- <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.pageSize" @pagination="getList" /> -->
  </div>
</template>

<script>
import { updateUserFields, deleteMessage,getUserFieldList } from '@/api/template'
// import Pagination from '@/components/Pagination' // Secondary package based on el-pagination
const defaultForm = {
  name: '111111',
  fieldvalue: '111111111'
}
export default {
  name: 'MessageList',
  // components: { Pagination },
  filters: {  
  },
  data() {
    return {
      list: null,
      postForm:null,
      // postForm: Object.assign({}, defaultForm),
      // total: 0,
      // listLoading: true,
      // listQuery: {
      //   page: 1,
      //   pageSize: 10
      // }
    }
  },
  created() {
    //alert()
    const id = this.$route.params && this.$route.params.id
   // alert(id)
    this.getList(id)
  },
  methods: {
    handleDelete(id) {
      this.$confirm('此操作将永久删除, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        deleteMessage(id).then(() => {
          this.$message({
            type: 'success',
            message: '删除成功!'
          })
          this.getList()
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          })
        })
      })
    },
    getList(id) {
      //this.listLoading = true
      //alert()
      getUserFieldList(id).then(response => {
        //alert(response.data)
       // console.info(response.obj.content)
        this.list = response.data
        //alert(this.list)
        //this.total = response.obj.total
       // this.listLoading = false
      })
    },

    submitForm() {
     //alert()
          updateUserFields(this.list).then(response => {
            this.$notify({
              title: '成功',
              message: '提交成功',
              type: 'success',
              duration: 2000
            })
          }).catch(err => {
            console.log(err)
          }).finally(() => {
            //this.loading = false
          })


    }
 
  }
}
</script>

<style scoped>
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
</style>
