<template>
  <div class="createPost-container">
    <el-form ref="postForm" :model="postForm" :rules="rules" class="form-container" label-width="100px">

      <!-- <el-form-item label="key描述" prop="name">
        <el-input v-model="postForm.vname" />
      </el-form-item> -->

      <el-form-item label="工资项id" prop="id">
        <el-input v-model="postForm.id" />
      </el-form-item>

      <el-form-item label="模板id" prop="tempId">
        <el-input v-model="postForm.tempId" />
      </el-form-item>


      <el-form-item label="tableid" prop="reffieldTable">
        <el-input v-model="postForm.reffieldTable" />
      </el-form-item>

      <el-form-item label="工资项" prop="fieldName">
        <el-input v-model="postForm.fieldName" />
      </el-form-item>

      <el-form-item label="工资项代码" prop="fieldCode">
        <el-input v-model="postForm.fieldCode" />
      </el-form-item>

      <!-- <el-form-item label="分组" prop="groupId">
        <el-input v-model="postForm.groupId" />
      </el-form-item> -->


        <el-form-item label="字段类型" prop="fieldType">
        <el-select v-model="postForm.fieldType">
          <el-option
            v-for="item in fieldTypeOptions"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          />
        </el-select>
      </el-form-item>


       <el-form-item label="规则类型" prop="rulesType">
        <el-select v-model="postForm.rulesType">
          <el-option
            v-for="item in rulesTypeOptions"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          />
        </el-select>
      </el-form-item>

    <el-form-item label="分组" prop="groupId">
        <el-select v-model="postForm.groupId">
          <el-option
            v-for="item in groupOptions"
            :key="item.columnName"
            :label="item.cnName"
            :value="item.columnName"
          />
        </el-select>
      </el-form-item>

    <el-form-item label="数据源表" prop="reffieldTable">
        <el-select v-model="postForm.reffieldTable" @change="changeValue($event)">
          <el-option
            v-for="item in reffieldTableOptions"
            :key="item.columnName"
            :label="item.cnName"
            :value="item.columnName"
          />
        </el-select>
      </el-form-item> 


      <el-form-item label="数据源列" prop="reffieldColumn">
        <el-select v-model="postForm.reffieldColumn">
          <el-option
            v-for="item in columnOptions"
            :key="item.columnName"
            :label="item.cnName"
            :value="item.columnName"
          />
        </el-select>
      </el-form-item>



          <!-- 由于从接口获取的select的下拉值没有‘请选择’，所以我们要自己写一个 -->
          <!-- <option value="">请选择</option> 
           //v-for="(value, key) in mapObject" :key="key"
           -->
          <!-- <option :value="item.key" v-for="(item,index) in statusArr">{{item.value}}</option> -->

      <!-- <el-form-item label="数据源列" prop="reffieldColumn"> -->
       <!-- <select name="status" id="status" v-model="postForm.reffieldColumn">

          <option :value="columnName" v-for="(columnName,cnName) in statusArr">{{cnName}}</option>

      </select>
    </el-form-item>  -->


      <el-form-item label="规则" prop="rules">
        <el-input v-model="postForm.rules" />
      </el-form-item>

      <!-- <el-form-item label="内容" prop="messageContent">
        <el-input v-model="postForm.messageContent" />
      </el-form-item> -->


    <el-form-item>
      <el-button v-loading="loading" style="margin-left: 10px;" type="success" @click="submitForm">
        提交
      </el-button>
      </el-form-item>

    </el-form>
  </div>
</template>

<script>
import { createItem,updateItem } from '@/api/template'
import { getColumnList,getSalaryItem,} from '@/api/salary'

const defaultForm = {
  vname: '',
  vkey: '',
  svalue: 'true',

}
const defaultRules = {
  name: { required: true, trigger: 'blur' },
  status: { required: true, trigger: 'blur' },

}

export default {
  name: 'MassageContentDetail',
  props: {
    isEdit: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      postForm: Object.assign({}, defaultForm),
      loading: false,
      rules: Object.assign({}, defaultRules),
      tempRoute: {},
      fieldTypeOptions: [{ value: '1', label: '数字' },
        { value: '2', label: '文本' },
      ],

      rulesTypeOptions: [{ value: '1', label: '引用数据' },
       { value: '2', label: '统计数据' },
      ],

      reffieldTableOptions: [],
      groupOptions:[],
      columnOptions:[],
      statusArr:[], //用来接收从接口里获取出来的select下拉框里的值
     

    }
  },
  computed: {

  },
  created() {

   this.getSelectInfo();

    // const tempid = this.$route.params && this.$route.params.tempid
    // this.postForm.tempId =tempid
    //alert(id)

    //this.isEdit =true;

    if (this.isEdit) {
      const id = this.$route.params && this.$route.params.id
      //alert(id)

      this.fetchData(id)
    }

    // Why need to make a copy of this.$route here?
    // Because if you enter this page and quickly switch tag, may be in the execution of the setTagsViewTitle function, this.$route is no longer pointing to the current page
    // https://github.com/PanJiaChen/vue-element-admin/issues/1221
    this.tempRoute = Object.assign({}, this.$route)
  },
  methods: {
    fetchData(id) {
      //alert(id)
      //debugger
          

      console.log('msg get id ' + id)
      getSalaryItem(id).then(response => {
          this.postForm = response.data

          // alert(this.postForm.reffieldTable)

          getColumnList(this.postForm.reffieldTable).then(response => {
                 this.columnOptions = response.data; //将获取出来的数据赋给定义的数组 以便于去循环遍历
            });

      })
    },

    //change方法
  changeValue(value){

    alert(value)
	  var obj = {};
    //使用find()方法在下拉数据中根据value绑定的数据查找对象。
      obj = this.columnOptions.find(function(item){

          // alert (item)

          return item.fcode === value;
      })
      console.log(obj);


        //选择加载
        getColumnList(value).then(response => {
             //if(response.data.retCode == 0){
                 //debugger
                 this.columnOptions = response.data; //将获取出来的数据赋给定义的数组 以便于去循环遍历
              //}
             //this.postForm.reffieldColumn =8;
                    
        });
    },

     getSelectInfo(){

        //alert()
        //分组类型
        getColumnList('5').then(response => {
                  console.log(response.data)
                  //将获取出来的数据赋给定义的数组 以便于去循环遍历
                   this.groupOptions = response.data;
          });

          ///引用数据源
          getColumnList('4').then(response => {
                  console.log(response.data)
                 /// this.columnOptions = response.data;
                  //将获取出来的数据赋给定义的数组 以便于去循环遍历
                  // this.statusArr = response.data;
                   this.reffieldTableOptions = response.data;
                     
          });

        // getRowList('0').then(response => {
        //      //if(response.data.retCode == 0){
        //          //debugger
        //          //this.postForm.rules = response.data; //将获取出来的数据赋给定义的数组 以便于去循环遍历
        //       //}
        //      //this.postForm.reffieldColumn =8;
                    
        // });
          //  var url = "../monitor_admin_front/device/status"; //接口地址
          //  axios.get(url)
          //  .then(response => {
          //     if(response.data.retCode == 0){
          //        this.statusArr = response.data.data; //将获取出来的数据赋给定义的数组 以便于去循环遍历
          //     }
          //  }) 
      },


    submitForm() {
      console.log(this.postForm)
      this.$refs.postForm.validate(valid => {
        if (valid) {
          this.loading = true
          var req = this.isEdit ? updateItem(this.postForm) : createItem(this.postForm)
          req.then(response => {
            console.log('addserver chenggong !' + this.postForm)
            //alert(this.postForm)
             
            this.$notify({
              title: '成功',
              message: '提交成功',
              type: 'success',
              duration: 2000
            })
          }).catch(err => {
            console.log(err)
          }).finally(() => {
            this.loading = false
          })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    }
  }
}

</script>

<style lang="scss" scoped>
@import "~@/styles/mixin.scss";

.createPost-container {
  position: relative;

  .createPost-main-container {
    padding: 40px 45px 20px 50px;

    .postInfo-container {
      position: relative;
      @include clearfix;
      margin-bottom: 10px;

      .postInfo-container-item {
        float: left;
      }
    }
  }

  .word-counter {
    width: 40px;
    position: absolute;
    right: 10px;
    top: 0px;
  }
}

.article-textarea /deep/ {
  textarea {
    padding-right: 40px;
    resize: none;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #bfcbd9;
  }
}
</style>
