<template>
  <tax-ratio-detail :is-edit="false" />
</template>

<script>

import TaxRatioDetail from './components/TaxRatioDetail.vue'

export default {
  name: 'CreateTaxRatioDetail',
  components: { TaxRatioDetail }
}
</script>
