<template>
  <insurance-detail :is-edit="false" />
</template>

<script>

import InsuranceDetail from './components/InsuranceDetail.vue'

export default {
  name: 'CreateMassageDetail',
  components: { InsuranceDetail }
}
</script>
