<template>
  <div class="app-container">
  
    <el-table  :data="list" border fit highlight-current-row style="width: 100%">

     <el-table-column width="100px" align="center" label="用户id">
        <template slot-scope="scope">
          <span>{{ scope.row.userId }}</span>
        </template>
     </el-table-column>

       <el-table-column width="100px" align="center" label="企业id">
        <template slot-scope="scope">
          <span>{{ scope.row.cpyId }}</span>
        </template>
     </el-table-column>

    <el-table-column width="100px" align="center" label="养老公司金额">
        <template slot-scope="scope">
          <span>{{ scope.row.oldageCompanyNum }}</span>
        </template>
     </el-table-column>

     <el-table-column width="100px" align="center" label="养老个人金额">
        <template slot-scope="scope">
          <span>{{ scope.row.oldageCompanyNum }}</span>
        </template>
     </el-table-column>


      <el-table-column width="100px" align="center" label="医疗公司金额">
        <template slot-scope="scope">
          <span>{{ scope.row.medicalCompanyNum }}</span>
        </template>
     </el-table-column>

     <el-table-column width="100px" align="center" label="医疗个人金额">
        <template slot-scope="scope">
          <span>{{ scope.row.medicalPersonalNum }}</span>
        </template>
     </el-table-column>


       <el-table-column width="100px" align="center" label="失业公司金额">
        <template slot-scope="scope">
          <span>{{ scope.row.unemploymentCompanyNum }}</span>
        </template>
     </el-table-column>

     <el-table-column width="100px" align="center" label="失业个人金额">
        <template slot-scope="scope">
          <span>{{ scope.row.unemploymentPersonalNum }}</span>
        </template>
     </el-table-column>



       <el-table-column width="100px" align="center" label="生育公司金额">
        <template slot-scope="scope">
          <span>{{ scope.row.birthCompanyNum }}</span>
        </template>
     </el-table-column>

     <el-table-column width="100px" align="center" label="生育个人金额">
        <template slot-scope="scope">
          <span>{{ scope.row.birthPersonalNum }}</span>
        </template>
     </el-table-column>

     <el-table-column width="100px" align="center" label="工伤公司金额">
        <template slot-scope="scope">
          <span>{{ scope.row.injuryCompanyNum }}</span>
        </template>
     </el-table-column>

     <el-table-column width="100px" align="center" label="工伤个人金额">
        <template slot-scope="scope">
          <span>{{ scope.row.injuryPersonalNum }}</span>
        </template>
     </el-table-column>


       <el-table-column width="100px" align="center" label="公积金公司金额">
        <template slot-scope="scope">
          <span>{{ scope.row.houseFundsCompanyNum }}</span>
        </template>
     </el-table-column>

     <el-table-column width="100px" align="center" label="公积金个人金额">
        <template slot-scope="scope">
          <span>{{ scope.row.houseFundsPersonalNum }}</span>
        </template>
     </el-table-column>

       <el-table-column width="100px" align="center" label="社保公司合计">
        <template slot-scope="scope">
          <span>{{ scope.row.totalCompany }}</span>
        </template>
     </el-table-column>

       <el-table-column width="100px" align="center" label="社保个人合计">
        <template slot-scope="scope">
          <span>{{ scope.row.totalPerson }}</span>
        </template>
     </el-table-column>

     <el-table-column width="100px" align="center" label="总计">
        <template slot-scope="scope">
          <span>{{ scope.row.total }}</span>
        </template>
     </el-table-column>



       <el-table-column align="center" label="Actions" width="241">
        <template slot-scope="scope">
          
          <router-link :to="'/task/edit/'+scope.row.id">
            <el-button type="primary" size="small" icon="el-icon-edit">
              申报
            </el-button>
          </router-link>


           <router-link :to="'/task/edit/'+scope.row.id">
            <el-button type="primary" size="small" icon="el-icon-edit">
              停交
            </el-button>
          </router-link>



        <!-- <router-link :to="'/process/list/'+scope.row.id">
            <el-button type="primary" size="small" icon="el-icon-edit">
              查看流程
            </el-button>
          </router-link> -->
          <!-- <el-button type="primary" size="small" @click="dotask(scope.row.id)">同意</el-button> -->

          <!-- <router-link :to="'/flow/edit/'+scope.row.id">
            <el-button type="primary" size="small" icon="el-icon-edit"  @click="dotask(scope.row.id)">
              拒绝
            </el-button>
          </router-link> -->
          
          <!-- <el-button type="primary" size="small" @click="joinCompany(scope.row.id)">加入公司</el-button> -->
        </template>
      </el-table-column>
    </el-table>
    <!-- <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.pageSize" @pagination="getList" /> -->
  </div>
</template>

<script>
import { getinsuranceList} from '@/api/insurance'
// import Pagination from '@/components/Pagination' // Secondary package based on el-pagination
const defaultForm = {
  name: '111111',
  fieldvalue: '111111111'
}
export default {
  name: 'MessageList',
  // components: { Pagination },
  filters: {  
  },
  data() {
    return {
      list: null,
      // postForm: Object.assign({}, defaultForm),
      // total: 0,
      // listLoading: true,
      // listQuery: {
      //   page: 1,
      //   pageSize: 10
      // }
    }
  },
  created() {
    //alert()
    this.getList()
  },
  methods: {
   

    joinCompany(id) {
      alert(id)
      this.$confirm('加入公司, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        //alert(id)
        joinCompany(id).then(() => {
          this.$message({
            type: 'success',
            message: '加入公司成功!'
          })
          this.getList()
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消'
          })
        })
      })
    },
    getList() {
      //this.listLoading = true
      //alert()
      getinsuranceList(this.listQuery).then(response => {
        //alert(response.data)
       // console.info(response.obj.content)
        this.list = response.data
        //this.total = response.obj.total
       // this.listLoading = false
      })
    },
 
  }
}
</script>

<style scoped>
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
</style>
