<template>
  <template-item-detail :is-edit="false" />
</template>

<script>

import TemplateItemDetail from './components/TemplateItemDetail.vue'

export default {
  name: 'CreateMassageDetail',
  components: { TemplateItemDetail }
}
</script>
