<template>
  <item-detail  :is-edit="true" />
</template>

<script>

import ItemDetail from './components/ItemDetail.vue'

export default {
  name: 'CreateMassageDetail',
  components: { ItemDetail }
}
</script>
