<template>
  <column-code-detail  :is-edit="true" />
</template>

<script>

import ColumnCodeDetail from './components/ColumnCodeDetail.vue'

export default {
  name: 'CreateMassageDetail',
  components: { ColumnCodeDetail }
}
</script>
