<template>
  <div class="app-container">
    <el-form ref="postForm"  class="form-container" label-width="100px">
      <!-- <el-form-item label="名称" prop="name">
        <el-input v-model="postForm.name" />
      </el-form-item> -->
       <!-- <div>{{item.title}}<i v-if="item.isRequired===1">*</i></div> -->
    <el-table  :data="list"   border fit highlight-current-row style="width: 100%">
     
      <el-table-column width="150px" align="center" label="用户id">
        <template slot-scope="scope">
          <span>{{ scope.row.id }}</span>
        </template>
      </el-table-column>

    
      <el-table-column width="100px" align="center" label="用户名">
        <template slot-scope="scope">
          <span>{{ scope.row.username }}</span>
         
        </template>
      </el-table-column>
     
      <el-table-column width="550px" align="center" label="工资表">
         <template slot-scope="scope">
                    <!-- <span>{{ scope.row.username }}</span>
                    {{scope.row.salaryItem}} -->
               <table class="table table-bordered table-striped text-center">
                <!-- <thead>
                    <tr v-for="child in scope.row.salaryItem" :key="child.id" width="150px" >
                        {{sum++}}<th>{{child.fieldName}}</th>
                    </tr>
                </thead> -->
                  <!----> 
                <tbody>
                    <tr>
                      <td v-for="child1 in scope.row.salaryItem" :key="child1.id">
                       <h5> <span> {{child1.fieldName}}</span></h5>
                       </td>
                     </tr>
                     <tr>
                      <td v-for="child in scope.row.salaryItem" :key="child.id">
                        <span>  {{child.fieldValue}}</span></td>
                     </tr>
                    <!-- <tr v-for="child in scope.row.salaryItem" :key="child.id">
                      <td>{{child.fieldName}} :  {{child.fieldValue}}</td>
                    </tr> -->
                </tbody> 
            </table>
        </template>
      </el-table-column>
      <el-table-column align="center" label="Actions" width="241">
        <template slot-scope="scope">
          <router-link :to="'/messages/edit/'+scope.row.id">
            <el-button type="primary" size="small" icon="el-icon-edit">
              查看
            </el-button>
          </router-link>
          <el-button type="danger" size="small" @click="handleDelete(scope.row.id)">Delete</el-button>
        </template>
      </el-table-column>


    </el-table>



    </el-form>
    <!-- <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.pageSize" @pagination="getList" /> -->
  </div>
</template>

<script>
import {listusersalary, deleteMessage,postfields } from '@/api/template'
// import Pagination from '@/components/Pagination' // Secondary package based on el-pagination
const defaultForm = {
  name: '111111',
  //fieldvalue: '111111111'
}
export default {
  name: 'MessageList',
  // components: { Pagination },
  filters: {  
  },
  data() {
    return {
      list: null,
      listitem:null,
      //pid:null,
      //postForm: Object.assign({}, defaultForm),
      // total: 0,
     // listLoading: true,
      // listQuery: {
      //   page: 1,
      //   pageSize: 10
      // }
    }
  },
  created() {
    //alert()
    const id = this.$route.params && this.$route.params.id
    this.getList(id)
  },
  computed:{
  },
  methods: {
    handleDelete(id) {
      this.$confirm('此操作将永久删除, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        deleteMessage(id).then(() => {
          this.$message({
            type: 'success',
            message: '删除成功!'
          })
          this.getList()
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          })
        })
      })
    },
    getList(id) {
      //this.listLoading = true
      //alert(id)
      listusersalary(id).then(response => {

         this.list = response.data

      })
    },

  }
}
</script>

<style scoped>
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
</style>
