<template>
  <div class="app-container">
  
    <el-table  :data="list" border fit highlight-current-row style="width: 100%">
    
    <el-table-column width="100px" align="center" label="进程id">
        <template slot-scope="scope">
          <span>{{ scope.row.id }}</span>
        </template>
     </el-table-column>

       <el-table-column width="100px" align="center" label="进程名称">
        <template slot-scope="scope">
          <span>{{ scope.row.pName }}</span>
        </template>
     </el-table-column>
     
     
      <!-- <el-table-column width="100px" align="center" label="模板名称">
        <template slot-scope="scope">
          <span>{{ scope.row.pName }}</span>
        </template>
     </el-table-column> -->

        <el-table-column width="50px" align="center" label="企业ID">
        <template slot-scope="scope">
          <span>{{ scope.row.cpyId }}</span>
        </template>
      </el-table-column>

      <el-table-column width="50px" align="center" label="计薪月份">
        <template slot-scope="scope">
          <span>{{ scope.row.month }}</span>
        </template>
      </el-table-column>

      <el-table-column width="50px" align="center" label="计算阶段">
        <template slot-scope="scope">
          <span>{{ scope.row.stage }}</span>
        </template>
      </el-table-column>

      <el-table-column width="50px" align="center" label="是否锁定">
        <template slot-scope="scope">
          <span>{{ scope.row.islock }}</span>
        </template>
      </el-table-column>

       <el-table-column width="50px" align="center" label="审批状态">
        <template slot-scope="scope">
          <span>{{ scope.row.approve }}</span>
        </template>
      </el-table-column>

      <el-table-column width="50px" align="center" label="算薪人数">
        <template slot-scope="scope">
          <span>{{ scope.row.count }}</span>
        </template>
      </el-table-column>

       <el-table-column width="50px" align="center" label="离职人数">
        <template slot-scope="scope">
          <span>{{ scope.row.quit }}</span>
        </template>
      </el-table-column>

      <el-table-column width="50px" align="center" label="状态">
        <template slot-scope="scope">
          <span>{{ scope.row.status }}</span>
        </template>
      </el-table-column>

       <el-table-column align="center" label="Actions" width="500">
        <template slot-scope="scope">
         
          <router-link :to="'/template/startprocess/'+scope.row.id">
            <el-button type="primary" size="small" icon="el-icon-edit">
              同步人员
            </el-button>
          </router-link>

         <router-link :to="'/template/listusersalary/'+scope.row.id">
            <el-button type="primary" size="small" icon="el-icon-edit">
              计算税前
            </el-button>
          </router-link>

           <router-link :to="'/template/listusersalary/'+scope.row.id">
            <el-button type="primary" size="small" icon="el-icon-edit">
              计算税后
            </el-button>
          </router-link> 

          <!-- <router-link :to="'/template/listusersalary/'+scope.row.id">
            <el-button type="primary" size="small" icon="el-icon-edit">
              锁定
            </el-button>
          </router-link>

            <router-link :to="'/template/startprocess/'+scope.row.id">
            <el-button type="primary" size="small" icon="el-icon-edit">
              上一步
            </el-button>
          </router-link>

            <router-link :to="'/template/startprocess/'+scope.row.id">
            <el-button type="primary" size="small" icon="el-icon-edit">
             下一步
            </el-button>
          </router-link> -->

          <el-button type="danger" size="small" @click="handleDelete(scope.row.id)">Delete</el-button>
        </template>
      </el-table-column>
    </el-table>
    <!-- <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.pageSize" @pagination="getList" /> -->
  </div>
</template>

<script>
import { listSalaryProcess, deleteMessage } from '@/api/template'
// import Pagination from '@/components/Pagination' // Secondary package based on el-pagination
const defaultForm = {
  name: '111111',
  fieldvalue: '111111111'
}
export default {
  name: 'MessageList',
  // components: { Pagination },
  filters: {  
  },
  data() {
    return {
      list: null,
      // postForm: Object.assign({}, defaultForm),
      // total: 0,
      // listLoading: true,
      // listQuery: {
      //   page: 1,
      //   pageSize: 10
      // }
    }
  },
  created() {
    //alert()
    this.getList()
  },
  methods: {
    handleDelete(id) {
      this.$confirm('此操作将永久删除, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
      //  alert(id)
        deleteMessage(id).then(() => {
          this.$message({
            type: 'success',
            message: '删除成功!'
          })
          this.getList()
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          })
        })
      })
    },
    getList() {
      //this.listLoading = true
      //()
      listSalaryProcess(this.listQuery).then(response => {

        this.list = response.data
  
      })
    },
 
  }
}
</script>

<style scoped>
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
</style>
