<template>
  <div class="app-container">
  
    <el-table  :data="list" border fit highlight-current-row style="width: 100%">
    
    <el-table-column width="80px" align="center" label="模板id">
        <template slot-scope="scope">
          <span>{{ scope.row.id }}</span>
        </template>
     </el-table-column>

      <el-table-column width="80px" align="center" label="企业ID">
        <template slot-scope="scope">
          <span>{{ scope.row.cpyId }}</span>
        </template>
      </el-table-column>

      <el-table-column width="150px" align="center" label="模板名称">
        <template slot-scope="scope">
          <span>{{ scope.row.tName }}</span>
        </template>
     </el-table-column>

      <el-table-column width="50px" align="center" label="计薪月份">
        <template slot-scope="scope">
          <span>{{ scope.row.month }}</span>
        </template>
      </el-table-column>

      
      <el-table-column width="50px" align="center" label="计薪周期">
        <template slot-scope="scope">
          <span>{{ scope.row.circle }}</span>
        </template>
      </el-table-column>
       

        <el-table-column width="50px" align="center" label="发薪日">
        <template slot-scope="scope">
          <span>{{ scope.row.payDay }}</span>
        </template>
      </el-table-column>
       

      <el-table-column width="50px" align="center" label="状态">
        <template slot-scope="scope">
          <span>{{ scope.row.status }}</span>
        </template>
      </el-table-column>

       <el-table-column align="center" label="Actions" width="500">
        <template slot-scope="scope">
         
          <router-link :to="'/template/startprocess/'+scope.row.id">
            <el-button type="primary"   size="mini"   icon="el-icon-edit">
              薪资计算
            </el-button>
          </router-link>

           <router-link :to="'/template/listitem/'+scope.row.id">
            <el-button type="primary" size="small" icon="el-icon-edit">
              查看薪资项
            </el-button>
          </router-link>

         <!-- <router-link :to="'/process/list/'+scope.row.id">
            <el-button type="primary" size="small" icon="el-icon-edit">
              查看流程
            </el-button>
          </router-link> -->

         <router-link :to="'/template/listprocess/'+scope.row.id">
            <el-button type="primary" size="small" icon="el-icon-edit">
              计算历史
            </el-button>
          </router-link>

          <router-link :to="'/template/createItem/'+scope.row.id">
            <el-button type="primary" size="small" icon="el-icon-edit">
              增加薪资项
            </el-button>
          </router-link>
          
          <!-- <el-button type="danger" size="small" @click="handleDelete(scope.row.id)">Delete</el-button> -->

          <!-- <div style="padding:10px 20px 0 20px;">
              <el-button class="wp-but" @click="Popup">测试弹出框</el-button>
          </div> -->

        </template>
      </el-table-column>
    </el-table>
    <!-- <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.pageSize" @pagination="getList" /> -->
  </div>
</template>

<script>
import { listFlow, deleteMessage,addMessage } from '@/api/template'
// import Pagination from '@/components/Pagination' // Secondary package based on el-pagination
const defaultForm = {
  name: '111111',
  fieldvalue: '111111111'
}
export default {
  name: 'MessageList',
  // components: { Pagination },
  filters: {  
  },
  data() {
    return {
      list: null,
      // postForm: Object.assign({}, defaultForm),
      // total: 0,
      // listLoading: true,
      // listQuery: {
      //   page: 1,
      //   pageSize: 10
      // }
    }
  },
  created() {
    //alert()
    this.getList()
  },
  methods: {

      Popup() {                                               
               window.open(
                        "http://localhost:9527/#/",//需要跳转的路由
                        '_blank',//是否在新的页面打开
                        'width=1500,height=800,toolbar=no,scrollbars=no,menubar=no,screenX=240,screenY=100'
                         )
            },
    handleDelete(id) {
      this.$confirm('此操作将永久删除, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        deleteMessage(id).then(() => {
          this.$message({
            type: 'success',
            message: '删除成功!'
          })
          this.getList()
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          })
        })
      })
    },
    getList() {
      //this.listLoading = true
      //alert()
      listFlow(this.listQuery).then(response => {
        //alert(response.data)
       // console.info(response.obj.content)
        this.list = response.data
        //this.total = response.obj.total
       // this.listLoading = false
      })
    },
 
  }
}
</script>

<style scoped>
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
</style>
