<template>
 <div class="hello">
 <h1>获取多层循环的总行数</h1>
 <table border="1" width="50%" align="center">
  <tr>
  <td>父循环第几次</td>
  <td>子循环第几次</td>
  <td>第一种办法</td>
  <td>第二种办法</td>
  <td>json字符串中的行数</td>
  <td>数值</td>
  </tr>
  <tbody v-for="parent,id in data" :key="id">
        <tr v-for="child,cid in parent.salaryItem" :key="child.cid">
                <td>{{id}}</td>
                <td>{{cid}}</td>
                <!-- <td olor="red"> <font size="3" color="red">{{index*(parent.childList.length)+1+cindex}}</font></td>
                <td><font size="3" color="red">{{getIndex()}}</font></td>
                <td>{{child.index}}</td>
                <td>{{child.childName}}</td> -->
        </tr>
  </tbody>
 </table>
 </div>
</template>

<script>


export default {
   data() {
    return {
    data: [{
            "id": 24477,
            "createTime": null,
            "updateTime": null,
            "email": null,
            "username": "王一",
            "password": null,
            "nickName": null,
            "role": null,
            "status": 1,
            "remark": null,
            "salaryItem": [{
                "id": 24632,
                "tempId": 0,
                "groupId": "1",
                "cpyId": null,
                "userId": "24477",
                "parentId": "24572",
                "status": null,
                "fieldName": "基本工资",
                "fieldType": "number",
                "fieldValue": "100",
                "reffieldColumn": null,
                "reffieldTable": "0",
                "refId": null,
                "rulesType": "1",
                "rules": "&(&b&-&c&)&/&(&d&-&c&)&",
                "isColumnView": null,
                "isTax": null,
                "isSalaryBill": null,
                "pid": "24631"
            }],
            "inviteCode": null,
            "myInvite": null,
            "vcode": null
	}]

        }
  },  
   
methods:{
  getIndex(){
        if (!this.index){
            this.index=1
        }else{
            this.index++
        }
        return this.index
  }
 }
}



</script>
