<template>
  <div class="app-container">

    <el-form ref="postFormProcess" :model="postFormProcess"  class="form-container" label-width="100px">
      <!-- <el-form-item label="key描述" prop="name">
        <el-input v-model="postForm.vname" />
      </el-form-item> -->
      <el-form-item label="进程id:" prop="id">
         <span>{{ postFormProcess.id }}</span>
      </el-form-item>
      <el-form-item label="进程名：" prop="cnName">
        <span>{{ postFormProcess.pName }}</span>
      </el-form-item>

      <el-form-item label="月份：" prop="cnName">
        <span>{{ postFormProcess.month }}</span>
      </el-form-item>


     <el-form-item label="处理阶段：" prop="cnName">
        <!-- <span>{{ postFormProcess.stage }}</span> -->
          <el-tag>
            {{ postFormProcess.stage |statusFilter1 }}
          </el-tag>

      </el-form-item>


       <el-form-item label="离职人数：" prop="cnName">
        <span>{{ postFormProcess.quit }}</span>
      </el-form-item>

     <el-form-item label="算薪人数：" prop="cnName">
        <span>{{ postFormProcess.count }}</span>
      </el-form-item>

       <el-form-item label="入职人数：" prop="cnName">
        <span>{{ postFormProcess.entry }}</span>
      </el-form-item>

    </el-form>

  <el-form ref="postForm"  class="form-container" label-width="100px">
    <el-table  :data="listuser"   border fit highlight-current-row style="width: 100%">
     
      <el-table-column width="50px" align="center" label="用户id">
        <template slot-scope="scope">
          <span>{{ scope.row.id }}</span>
        </template>
      </el-table-column>

    
      <el-table-column width="100px" align="center" label="用户名">
        <template slot-scope="scope">
          <span>{{ scope.row.username }}</span>
         
        </template>
      </el-table-column>
     
      <el-table-column width="550px" align="center" label="工资表">
          <template slot-scope="scope1">
                    <!-- <span>{{ scope.row.username }}</span>
                    {{scope.row.salaryItem}} -->
               <table class="table table-bordered table-striped text-center">
                <!-- <thead>
                    <tr v-for="child in scope.row.salaryItem" :key="child.id" width="150px" >
                        {{sum++}}<th>{{child.fieldName}}</th>
                    </tr>
                </thead> -->
                  <!----> 
                <tbody>
                    <tr>
                      <td v-for="child1 in scope1.row.salaryItem" :key="child1.id">
                       <h5> <span>吾问无为谓 {{child1.fieldName}}</span></h5>
                       </td>
                     </tr>
               
                    <!-- <tr v-for="child in scope.row.salaryItem" :key="child.id">
                      <td>{{child.fieldName}} :  {{child.fieldValue}}</td>
                    </tr> -->
                </tbody> 
            </table>
        </template>

         <template slot-scope="scope">
                    <!-- <span>{{ scope.row.username }}</span>
                    {{scope.row.salaryItem}} -->
               <table class="table table-bordered table-striped text-center">
                <!-- <thead>
                    <tr v-for="child in scope.row.salaryItem" :key="child.id" width="150px" >
                        {{sum++}}<th>{{child.fieldName}}</th>
                    </tr>
                </thead> -->
                  <!----> 
                <tbody>
                    <tr>
                      <td v-for="child1 in scope.row.salaryItem" :key="child1.id">
                       <h5> <span> {{child1.fieldName}}</span></h5>
                       </td>
                     </tr>
                     <tr>
                      <td v-for="child in scope.row.salaryItem" :key="child.id">
                        <span>  {{child.fieldValue}}</span></td>
                     </tr>
                    <!-- <tr v-for="child in scope.row.salaryItem" :key="child.id">
                      <td>{{child.fieldName}} :  {{child.fieldValue}}</td>
                    </tr> -->
                </tbody> 
            </table>
        </template>
      </el-table-column>
      <el-table-column align="center" label="Actions" width="241">
        <template slot-scope="scope">
          <router-link :to="'/messages/edit/'+scope.row.id">
            <el-button type="primary" size="small" icon="el-icon-edit">
              查看
            </el-button>
          </router-link>
          <el-button type="danger" size="small" @click="handleDelete(scope.row.id)">Delete</el-button>
        </template>
      </el-table-column>


    </el-table>



    </el-form>
    <!-- <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.pageSize" @pagination="getList" /> -->
  </div>
</template>

<script>
import { startprocess, deleteMessage,getProcess } from '@/api/template'
// import Pagination from '@/components/Pagination' // Secondary package based on el-pagination
const defaultForm = {
  name: '111111',
  //fieldvalue: '111111111'
}
export default {
  name: 'MessageList',
  // components: { Pagination },
  filters: {
     statusFilter1(status) {
      const statusMap = {
        1: '税前工资',
        2: '税后工资',
        3: '正式',
        4: '离职'
      }
      return statusMap[status]
    },  
  },
  data() {
    return {
      listuser: null,
      listitem:null,
      //pid:null,
      postForm: Object.assign({}, defaultForm),
      postFormProcess: Object.assign({}, defaultForm),
      // total: 0,
     // listLoading: true,
      // listQuery: {
      //   page: 1,
      //   pageSize: 10
      // }
    }
  },
  created() {
    //alert()
    //  <router-link :to="{path:'/page1',query:{username}}">page1</router-link> // query方式
          // <router-link :to="{name:'page2',params:{username1}}">page2</router-link> // params方式

    const id = this.$route.params && this.$route.params.id
    this.getList(id)
  },
  computed:{
  },
  methods: {
    handleDelete(id) {
      this.$confirm('此操作将永久删除, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        deleteMessage(id).then(() => {
          this.$message({
            type: 'success',
            message: '删除成功!'
          })
          this.getList()
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          })
        })
      })
    },
    getList(id) {
      //this.listLoading = true
      //alert(id)
      startprocess(id).then(response => {

        // this.listuser = response.data
         console.log(response.data)
         this.listuser =response.data.userSalaryVO;

        // console.log(response.data.userSalaryVO)

         //this.listuser =  response.data.userSalaryVO;
      })

      getProcess(id).then(response => {

        // this.listuser = response.data
         console.log(response.data)
         this.postFormProcess =response.data;

        // console.log(response.data.userSalaryVO)

         //this.listuser =  response.data.userSalaryVO;
      })
    },

  }
}
</script>

<style scoped>
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}


.el-form-item {
  display: inline-block !important;
}

</style>
