<template>
  <attendance-detail :is-edit="false" />
</template>

<script>

import AttendanceDetail from './components/AttendanceDetail.vue'

export default {
  name: 'CreateMassageDetail',
  components: { AttendanceDetail }
}
</script>
