<template>
  <div class="createPost-container">
    <el-form ref="postForm" :model="postForm" :rules="rules" class="form-container" label-width="150px">
      <el-form-item label="参保城市" prop="city">
        <el-input v-model="postForm.city" />
      </el-form-item>

       <el-form-item label="养老公司比例" prop="OldageCompanyRatio">
        <el-input v-model="postForm.OldageCompanyRatio" />
      </el-form-item>

       <el-form-item label="养老个人比例" prop="OldagePersonalRatio">
        <el-input v-model="postForm.OldagePersonalRatio" />
      </el-form-item>


    <el-form-item label="医疗公司比例" prop="medicalCompanyRatio">
        <el-input v-model="postForm.medicalCompanyRatio" />
      </el-form-item>
      <el-form-item label="医疗个人比例" prop="medicalPersonalRatio">
        <el-input v-model="postForm.medicalPersonalRatio" />
      </el-form-item>


    <el-form-item label="失业公司比例" prop="unemploymentCompanyRatio">
        <el-input v-model="postForm.unemploymentCompanyRatio" />
      </el-form-item>
      <el-form-item label="失业个人比例" prop="unemploymentPersonalRatio">
        <el-input v-model="postForm.unemploymentPersonalRatio" />
      </el-form-item>

          <el-form-item label="生育公司比例" prop="birthCompanyRatio">
        <el-input v-model="postForm.birthCompanyRatio" />
      </el-form-item>
      <el-form-item label="生育个人比例" prop="birthPersonalRatio">
        <el-input v-model="postForm.birthPersonalRatio" />
      </el-form-item>



     <el-form-item label="工伤公司比例" prop="injuryCompanyRatio">
        <el-input v-model="postForm.injuryCompanyRatio" />
      </el-form-item>
      <el-form-item label="工伤个人比例" prop="injuryPersonalRatio">
        <el-input v-model="postForm.injuryPersonalRatio" />
      </el-form-item>

      <el-form-item label="公积金公司比例" prop="houseFundsCompanyRatio">
        <el-input v-model="postForm.houseFundsCompanyRatio" />
      </el-form-item>


          <el-form-item label="公积金个人比例" prop="houseFundsPersonalRatio">
        <el-input v-model="postForm.houseFundsPersonalRatio" />
      </el-form-item>


         

      <!-- <el-form-item label="内容" prop="messageContent">
        <el-input v-model="postForm.messageContent" />
      </el-form-item> -->



    <el-form-item>
      <el-button v-loading="loading" style="margin-left: 10px;" type="success" @click="submitForm">
        注册
      </el-button>
      <!-- <el-button type="primary" size="small" @click="dotask('1')">同意</el-button>-->
      </el-form-item> 

    </el-form>
  </div>
</template>

<script>
import { createInsurancePlan,updateInsurancePlan } from '@/api/insurance'
const defaultForm = {
  name: '',
  key: '',
  value: 'true',

}
const defaultRules = {
  name: { required: true, trigger: 'blur' },
  status: { required: true, trigger: 'blur' },

}

export default {
  name: 'MassageContentDetail',
  props: {
    isEdit: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      postForm: Object.assign({}, defaultForm),
      loading: false,
      rules: Object.assign({}, defaultRules),
      tempRoute: {},


    }
  },
  computed: {

  },
  created() {
    if (this.isEdit) {
      const id = this.$route.params && this.$route.params.id
      this.fetchData(id)
    }

    // Why need to make a copy of this.$route here?
    // Because if you enter this page and quickly switch tag, may be in the execution of the setTagsViewTitle function, this.$route is no longer pointing to the current page
    // https://github.com/PanJiaChen/vue-element-admin/issues/1221
    this.tempRoute = Object.assign({}, this.$route)
  },
  methods: {
    fetchData(id) {
      console.log('msg get id ' + id)
      getTask(id).then(response => {
        this.postForm = response.data

      })
    },
    submitForm() {
      console.log(this.postForm)
      this.$refs.postForm.validate(valid => {
        if (valid) {
          this.loading = true
          var req = this.isEdit ? updateInsurancePlan(this.postForm) : createInsurancePlan(this.postForm)
          req.then(response => {
           // console.log('addserver chenggong !' + response)
            this.$notify({
              title: '成功',
              message: '提交成功',
              type: 'success',
              duration: 2000
            })
          }).catch(err => {
            console.log(err)
          }).finally(() => {
            this.loading = false
          })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    
    // dotask(id) {
      
    //   this.$confirm('审批, 是否继续?', '提示', {
    //     confirmButtonText: '确定',
    //     cancelButtonText: '取消',
    //     type: 'warning'
    //   }).then(() => {
    //     //alert(id)

    //     this.postForm.status =id
    //     dotask(this.postForm).then(() => {
    //       this.$message({
    //         type: 'success',
    //         message: '审批成功!'
    //       })
    //       this.getList()
    //     }).catch(() => {
    //       this.$message({
    //         type: 'info',
    //         message: '已取消'
    //       })
    //     })
    //   })
    // },


  }
}

</script>

<style lang="scss" scoped>
@import "~@/styles/mixin.scss";

.createPost-container {
  position: relative;

  .createPost-main-container {
    padding: 40px 45px 20px 50px;

    .postInfo-container {
      position: relative;
      @include clearfix;
      margin-bottom: 10px;

      .postInfo-container-item {
        float: left;
      }
    }
  }

  .word-counter {
    width: 40px;
    position: absolute;
    right: 10px;
    top: 0px;
  }
}

.article-textarea /deep/ {
  textarea {
    padding-right: 40px;
    resize: none;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #bfcbd9;
  }
}
</style>
