<template>
  <Massage-content-detail :is-edit="false" />

</template>

<script>

import MassageContentDetail from './components/MassageContentDetail.vue'

///import MisDialog from './components/MisDialog.vue'

export default {
  name: 'CreateMassageDetail',
  components: { MassageContentDetail }
}
</script>
