<template>
  <div class="app-container">
  
    <el-table  :data="list" border fit highlight-current-row style="width: 100%">

    <el-table-column width="100px" align="center" label="应用id">
        <template slot-scope="scope">
          <span>{{ scope.row.clientId }}</span>
        </template>
     </el-table-column>


     <el-table-column width="100px" align="center" label="应用名称">
        <template slot-scope="scope">
          <span>{{ scope.row.name }}</span>
        </template>
     </el-table-column>


          <el-table-column width="100px" align="center" label="应用首页">
        <template slot-scope="scope">
          <span>{{ scope.row.indexHtml }}</span>
        </template>
     </el-table-column>


          <el-table-column width="100px" align="center" label="应用图标">
        <template slot-scope="scope">
          <span>{{ scope.row.appIcon }}</span>
        </template>
     </el-table-column>

    

        <el-table-column width="80px" align="center" label="状态">
        <template slot-scope="{row}">
          <el-tag>
            {{ row.status |statusFilter1 }}
          </el-tag>
        </template>
      </el-table-column>

 
       <el-table-column align="center" label="Actions" width="350">
        <template slot-scope="scope">
          
          <!-- <router-link :to="'/task/edit/'+scope.row.id">
            <el-button type="primary" size="small" icon="el-icon-edit">
              发布
            </el-button>
          </router-link>

          <router-link :to="'/task/edit/'+scope.row.id">
            <el-button type="primary" size="small" icon="el-icon-edit">
              下线
            </el-button>
          </router-link> -->

          <router-link :to="'/system/app/edit/'+scope.row.id">
            <el-button type="primary" size="small" icon="el-icon-edit">
              修改
            </el-button>
          </router-link>

        <!-- <router-link :to="'/process/list/'+scope.row.id">
            <el-button type="primary" size="small" icon="el-icon-edit">
              查看流程
            </el-button>
          </router-link> -->
          <!-- <el-button type="primary" size="small" @click="dotask(scope.row.id)">同意</el-button> -->

          <!-- <router-link :to="'/flow/edit/'+scope.row.id">
            <el-button type="primary" size="small" icon="el-icon-edit"  @click="dotask(scope.row.id)">
              拒绝
            </el-button>
          </router-link> -->
          
          <!-- <el-button type="primary" size="small" @click="dotask(scope.row.id)">同意</el-button>  -->
        </template>
      </el-table-column>
    </el-table>
    <!-- <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.pageSize" @pagination="getList" /> -->
  </div>

  

</template>

<script>
import { getAppList} from '@/api/app'
// import Pagination from '@/components/Pagination' // Secondary package based on el-pagination

const defaultForm = {
  name: '111111',
  fieldvalue: '111111111'
}
export default {
  name: 'MessageList',
  // components: { Pagination },
  filters: { 
     statusFilter1(status) {
      const statusMap = {
        1: '已注册',
        2: '发布',
        3: '下线'
      }
      return statusMap[status]
    }, 
  },
  data() {
    return {
      list: null,
      // postForm: Object.assign({}, defaultForm),
      // total: 0,
      // listLoading: true,
      // listQuery: {
      //   page: 1,
      //   pageSize: 10
      // }
    }
  },
  created() {
    //alert()
    this.getList()
  },
  methods: {
   

    dotask(id) {
      // 打开弹框
     this.$refs['addDialog'].show()

      alert (id)
      
      // this.$confirm('审批, 是否继续?', '提示', {
      //   confirmButtonText: '确定',
      //   cancelButtonText: '取消',
      //   type: 'warning'
      // }).then(() => {
      //   //alert(id)
      //   dotask(id).then(() => {
      //     this.$message({
      //       type: 'success',
      //       message: '审批成功!'
      //     })
      //     this.getList()
      //   }).catch(() => {
      //     this.$message({
      //       type: 'info',
      //       message: '已取消'
      //     })
      //   })
      // })
    },
    getList() {
      //this.listLoading = true
      //alert()
      getAppList(this.listQuery).then(response => {
        //alert(response.data)
       // console.info(response.obj.content)
        this.list = response.data
        //this.total = response.obj.total
       // this.listLoading = false
      })
    },
 
  }
}
</script>

<style scoped>
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
</style>
