<template>
  <div class="MisDialog">
    <el-dialog
      v-if="dialogVisible"
      :custom-class="className"
      :width="`${width}px`"
      :fullscreen="fullscreen"
      top="24vh"
      :visible.sync="dialogVisible"
      :title="title"
      :close-on-click-modal="false"
      :destroy-on-close="true"
      :before-close="beforeClose"
    >
      <slot />
      <template slot="footer">
        <slot
          name="footer"
          class="dialog-footer"
        />
      </template>
    </el-dialog>
  </div>
</template>

<script>
export default {
  name: 'MisDialog',
  props: {
    title: { // 标题
      type: String,
      default: '弹框'
    },
    className: {
      type: String,
      default: 'mis-dialog'
    },
    width: { // 弹框宽度
      type: Number,
      default: 664
    },
    fullscreen: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      dialogVisible: false // 弹框的显示
    }
  },
  watch: {
    dialogIsVisible (newV, oldV) {
      this.dialogVisible = newV
    }
  },
  methods: {
    beforeClose () {
      this.$emit('close')
      // this.dialogVisible = false
    },
    show () {
      this.dialogVisible = true
    },
    hide () {
      this.dialogVisible = false
    }
  }
}
</script>

<style lang="scss" scoped>
$td-height: 50px; // 行高

.MisDialog {
	::v-deep {
		.el-dialog {
			@include scrollbar(0, 8px, #dddddd, #888888);
			.el-dialog__body {
				max-height: 66vh;
				overflow: auto;
				$td-height: 40px; // 行高
				padding: 30px;
				overflow-y: overlay;
				.el-table {
					.el-table__row {
						td {
							height: $td-height;
							line-height: $td-height;
							padding: 0px;
						}
					}
				}
			}
			.el-dialog__footer {
				padding: 20px 30px;
			}
		}
		.el-pagination {
			$pagination-size: 28px;
			li {
				min-width: $pagination-size !important;
				min-height: $pagination-size;
				line-height: $pagination-size;
			}

			button {
				width: $pagination-size;
				height: $pagination-size;
				min-width: $pagination-size;
			}
		}
		.dialog-footer {
			.cc-btn-x {
				border-color: #eeeeee;
				color: #555555;
				&:hover {
					box-shadow: none;
					border-color: #dddddd;
					background-color: #fafafa;
				}
			}
		}
	}
}
</style>
