<template>
  <div class="createPost-container">
    <el-form ref="postForm" :model="postForm" :rules="rules" class="form-container" label-width="100px">
<!--       
      <el-form-item label="公司id" prop="companyName">
        <el-input v-model="postForm.companyName" />
      </el-form-item> -->

       <el-form-item label="用户id" prop="userId">
        <el-input v-model="postForm.userId" />
      </el-form-item>

        <el-form-item label="应出勤天数" prop="yingchuqin">
        <el-input v-model="postForm.yingchuqin" />
      </el-form-item>

      <!--

      <el-form-item label="实际出勤天数" prop="shijichuqin">
        <el-input v-model="postForm.shijichuqin" />
      </el-form-item>

       <el-form-item label="缺勤" prop="queqin">
        <el-input v-model="postForm.queqin" />
      </el-form-item> -->

      <el-form-item label="事假" prop="shijia">
        <el-input v-model="postForm.shijia" />
      </el-form-item>

      <el-form-item label="婚假" prop="hunjia">
        <el-input v-model="postForm.hunjia" />
      </el-form-item>

      <el-form-item label="病假" prop="bingjia">
        <el-input v-model="postForm.bingjia" />
      </el-form-item>

      <el-form-item label="丧假" prop="sangjia">
        <el-input v-model="postForm.sangjia" />
      </el-form-item>

      <!-- <el-form-item label="事假" prop="shijia">
        <el-input v-model="postForm.shijia" />
      </el-form-item> -->

        <el-form-item label="旷工" prop="kuanggong">
        <el-input v-model="postForm.kuanggong" />
      </el-form-item>

      <el-form-item label="迟到" prop="chidao">
        <el-input v-model="postForm.chidao" />
      </el-form-item>

      <el-form-item label="早退" prop="zaotui">
        <el-input v-model="postForm.zaotui" />
      </el-form-item>

       <el-form-item label="出差" prop="chuchai">
        <el-input v-model="postForm.chuchai" />
      </el-form-item>

      <el-form-item label="加班" prop="jiaban">
        <el-input v-model="postForm.jiaban" />
      </el-form-item>


      <!-- <el-form-item label="社會信用卡" prop="socialCreditNum">
        <el-input v-model="postForm.socialCreditNum" />
      </el-form-item> -->

      <!-- <el-form-item label="内容" prop="messageContent">
        <el-input v-model="postForm.messageContent" />
      </el-form-item> -->

        <!-- <el-form-item label="經營範圍" prop="comments">
        <el-input type="textarea" style="height：400px" v-model="postForm.scope" />
      </el-form-item> -->

    <el-form-item>
      <el-button v-loading="loading" style="margin-left: 10px;" type="success" @click="submitForm">
        注册
      </el-button>
      <!-- <el-button type="primary" size="small" @click="dotask('1')">同意</el-button>-->
      </el-form-item> 

    </el-form>
  </div>
</template>

<script>
import { updateAttendance,addAttendance } from '@/api/company'
const defaultForm = {
  name: '',
  key: '',
  value: 'true',

}
const defaultRules = {
  name: { required: true, trigger: 'blur' },
  status: { required: true, trigger: 'blur' },

}

export default {
  name: 'MassageContentDetail',
  props: {
    isEdit: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      postForm: Object.assign({}, defaultForm),
      loading: false,
      rules: Object.assign({}, defaultRules),
      tempRoute: {},


    }
  },
  computed: {

  },
  created() {
     const id = this.$route.params && this.$route.params.id
     this.postForm.userId =id

    if (this.isEdit) {
      const id = this.$route.params && this.$route.params.id
      this.fetchData(id)
    }

    // Why need to make a copy of this.$route here?
    // Because if you enter this page and quickly switch tag, may be in the execution of the setTagsViewTitle function, this.$route is no longer pointing to the current page
    // https://github.com/PanJiaChen/vue-element-admin/issues/1221
    this.tempRoute = Object.assign({}, this.$route)
  },
  methods: {
    fetchData(id) {
      console.log('msg get id ' + id)
      getTask(id).then(response => {
        this.postForm = response.data

      })
    },
    submitForm() {
      console.log(this.postForm)
      this.$refs.postForm.validate(valid => {
        if (valid) {
          this.loading = true
          var req = this.isEdit ? updateAttendance(this.postForm) : addAttendance(this.postForm)
          req.then(response => {
           // console.log('addserver chenggong !' + response)
            this.$notify({
              title: '成功',
              message: '提交成功',
              type: 'success',
              duration: 2000
            })
          }).catch(err => {
            console.log(err)
          }).finally(() => {
            this.loading = false
          })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    
    // dotask(id) {
      
    //   this.$confirm('审批, 是否继续?', '提示', {
    //     confirmButtonText: '确定',
    //     cancelButtonText: '取消',
    //     type: 'warning'
    //   }).then(() => {
    //     //alert(id)

    //     this.postForm.status =id
    //     dotask(this.postForm).then(() => {
    //       this.$message({
    //         type: 'success',
    //         message: '审批成功!'
    //       })
    //       this.getList()
    //     }).catch(() => {
    //       this.$message({
    //         type: 'info',
    //         message: '已取消'
    //       })
    //     })
    //   })
    // },


  }
}

</script>

<style lang="scss" scoped>
@import "~@/styles/mixin.scss";

.createPost-container {
  position: relative;

  .createPost-main-container {
    padding: 40px 45px 20px 50px;

    .postInfo-container {
      position: relative;
      @include clearfix;
      margin-bottom: 10px;

      .postInfo-container-item {
        float: left;
      }
    }
  }

  .word-counter {
    width: 40px;
    position: absolute;
    right: 10px;
    top: 0px;
  }
}

.article-textarea /deep/ {
  textarea {
    padding-right: 40px;
    resize: none;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #bfcbd9;
  }
}
</style>
